In [2]:
import tradingeconomics as te
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
te.login(); # Signup for a free API key at https://developer.tradingeconomics.com/

'You are logged in as a jupyter:jupyter'

In [4]:
aaple_data = te.fetchMarkets(symbol= 'aapl:us', initDate='2020-01-01', output_type='df')
aaple_data

             symbol      open       high       low     close
2021-06-25  AAPL:US  133.4600  133.89000  132.8100  133.1100
2021-06-24  AAPL:US  134.4500  134.64000  132.9300  133.4100
2021-06-23  AAPL:US  133.7700  134.32000  133.2300  133.7000
2021-06-22  AAPL:US  132.1300  134.08000  131.6200  133.9800
2021-06-21  AAPL:US  130.3000  132.41000  129.2100  132.3000
...             ...       ...        ...       ...       ...
2020-01-08  AAPL:US   74.2900   76.10998   74.2890   75.7975
2020-01-07  AAPL:US   74.9600   75.22500   74.3700   74.5975
2020-01-06  AAPL:US   73.4475   74.99000   73.1875   74.9500
2020-01-03  AAPL:US   74.2875   75.14500   74.1250   74.3575
2020-01-02  AAPL:US   74.0600   75.15000   73.7975   75.0875

[374 rows x 5 columns]

In [5]:
apple_forecast = te.getMarketsForecasts(symbol='aapl:us', output_type='df')
apple_forecast

,Symbol,Country,Date,Type,Last,Url,Importance,Forecast1,Forecast2,Forecast3,Forecast4
0,AAPL:US,United States,2021-06-25T20:00:00,stocks,133.32001,NaN,500,127.902984,125.396086,122.938322,120.528731